<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{#if article.data.title}}
      {{article.data.title}}
      {{else if article.data.slug}}
      {{article.data.slug}}
      {{else}}{{title}}
      {{/if}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#> style-block}} {{!-- Add custom stylesheets in this partial. --}} {{/style-block}}
    {{#> head-block}} {{!-- Custom <head> content per page can be added. --}} {{/head-block}}
  </head>
  <body class="m0">
    {{#> header-block}}
    {{/header-block}}
    <div class="c">
      {{#> content-block}}
      {{/content-block}}
      <footer>
        {{#> footer-block}}
        {{/footer-block}}
      </footer>
    </div>
    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
  </body>
</html>
