

.header {
    margin: 25vh auto 5vh auto;
    text-align: center;
}

hr {
    width: 60%;
    margin: 2rem auto;
    background-color: black;
    border: solid black 2px;
}

.snipcart-add-item {
    background-color: black;
    width: 30%;
    height: 64px;
    margin: 0 auto; 
    color: white;
    font-family: nunito, Arial, Helvetica, sans-serif;
}

.buybutton {
    margin: 1rem auto;
    text-align: center;
}

h1,h2 {
    text-align: center;
}

a {
    color: black;
}

.product {
    width: 90%;
    margin: 4rem auto;
}

.logo {
    max-width: 16rem;
}

.i {
    width: 100%;
    border: solid black 2px;
}

.margin {
    margin: 2em 2em;
}

.main-section {
    max-width: 1200px;
    margin: 2em auto;
}