{{#> base }}
  {{#*inline "content-block"}}
  <article>
    <p align="right">
      <a href="{{siteRoot}}">&larr; Go back</a>
      {{#if article.data.fancyDate}} - Posted on <strong>{{article.data.fancyDate}}</strong>{{/if}}
    </p>
    <h1 align="center">
      <a href="{{article.data.path}}">
      {{#if article.data.title}}{{article.data.title}}{{else}}{{article.data.slug}}{{/if}}
      </a>
    </h1>
    {{#if article.data.description}}<h4 align="center">{{article.data.description}}</h4>{{/if}}
    <hr>
    {{#if article.data.alternative}}
    <p align="center">A Free and Open Source alternative to: <b>{{article.data.alternative}}</b></p>
    {{/if}}

    {{#if article.data.image}}<img src="{{article.data.image}}" alt="{{article.data.title}}" class="cover"><hr>{{/if}}
    {{#if article.body}} {{article.body}} {{else}}
    <h2>There's nothing here!</h2>
    {{/if}}
  </article>
  {{/inline}}
{{/base}}
