{{#> base }}
  {{#*inline "content-block"}}
    {{#each articles}}
    <h2><a href="{{path}}">{{#if data.title}}{{data.title}}{{else}}{{data.slug}}{{/if}}</a></h2>
    {{#if data.fancyDate}}
      <p>Posted on <strong>{{data.fancyDate}}</strong></p>
    {{/if}}
    {{#if data.description}}<p>{{data.description}}</p>{{/if}}
    {{#if data.alternative}}
    <p>Free and Open Source alternative to: <b>{{data.alternative}}</b></p>
    {{/if}}
    {{#if data.image}}<a href="{{path}}">
      <img src="{{data.image}}" alt="{{data.title}}" class="cover"></a>{{/if}}
    {{#unless @last}}
      <hr>
    {{/unless}}
    {{else}}
      <h3>There's nothing here!</h3>
    {{/each}}
    {{#> paginator-block}}
    {{/paginator-block}}
  {{/inline}}
{{/base}}
